.container {
  padding: 10px;
}

.search-container {
  display: flex;
  justify-content: flex-start;
}

.search-container :first-child {
  padding-right: 10px;
}
.country-container {
  display: flex;
  width: 100%;
}

.country-table {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 10px;
}

table th {
  width: 33.33%;
  text-align: left;
  padding: 10px;
  cursor: pointer;
}

table thead,
table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

table td {
  padding: 5px;
}

table tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}

table tbody {
  display: block;
  max-height: 620px;
  overflow-y: scroll;
}
